<div class="sidebar">
  <div class="sidebar-item">
    <h2>Navigation</h2>
    <ul>
      <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
      <li><a href="{{ site.baseurl }}/about.html">About</a></li>
      <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
    </ul>
  </div>

  <div class="sidebar-item">
    <h2>Categories</h2>
    <ul>
      {% for category in site.categories %}
        <li><a href="{{ site.baseurl }}/category/{{ category | first }}">{{ category | first }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="sidebar-item">
    <h2>Recent Posts</h2>
    <ul>
      {% for post in site.posts limit:5 %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
