<footer style="background-color: #f5f5f5; padding: 10px 0; text-align: center;">
    <p>&copy; {{ site.time | date: '%Y' }} - {{ site.title }}</p>
    <!-- Social Media Links -->
    <div style="margin-top: 10px;">
        <a href="#" style="margin-right: 10px;"><img src="path_to_facebook_icon.png" alt="Facebook"></a>
        <a href="#" style="margin-right: 10px;"><img src="path_to_twitter_icon.png" alt="Twitter"></a>
        <a href="#"><img src="path_to_instagram_icon.png" alt="Instagram"></a>
    </div>
</footer>
